table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#estadistica {
	font-weight:  bold;
	font-size:30px;
	 text-align : center;
	 background-color: gray;
}

#titestadistica {

	 text-align : center;
}
#centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}